<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eaju.imageloader">

    <application>

        <meta-data
            android:name="com.eaju.imageloader.glideLoader.MyGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>
